# Database Configuration
MYSQL_HOST=localhost
MYSQL_USER='your-user'
MYSQL_PASSWORD='your-password'
MYSQL_DATABASE=Company_name
MYSQL_PORT=3306

# Flask Configuration
SECRET_KEY=your-secret-key-here-change-this-in-production
FLASK_DEBUG=True
